{% extends 'recipeSite/base.html' %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block title_block %}
Change Password
{% endblock %}
{% block body_block %}   

        

                <form  method="post" action=".">
                    
                    {% csrf_token %}

                   
                    <div class="form-group">
                        {{ form|crispy }}
                      </div>
                    
                    <input type="submit" class= "login-button" value="Change Password" />
                    <input type="hidden" name="next" value="{{ next }}"/>
                    
                </form>
{% endblock %}