{% extends 'recipeSite/base.html' %}
{% load crispy_forms_tags %}
{% load staticfiles %}


{% block title_block %}
Add a Recipe
{% endblock %}

{% block body_block %}
        <link rel="stylesheet" href="{% static 'css/addRecipe.css' %}">

        <h1>Add a Recipe</h1>
        
        <div class ="add_recipe_form">

            <form method="post" action="." enctype="multipart/form-data">
            {% csrf_token %}
            
            {% crispy form %}

            </br>
            
            <input id="add_recipe_button" class="btn btn-primary" type="submit"  name="submit" value="Add Recipe"/>

            </form>
        </div>
{% endblock %}