<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        MyRecipes - {% block title_block %}{% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>

<body>

    <ul class="top1">
        <li><a href="{% url 'recipeSite:index' %}">Sign-out</a></li>
        <li><em>|</em></li>
        <li><a href="{% url 'recipeSite:myAccount' %}">My Account</a></li>
        <li class="logo">MyRecipes</li>
    </ul>
    <div>
        <ul class="top2">
            <li class="search">
                <button><img src="{% static 'images/search.jpg' %}" alt="Picture of search" height="30"></button>
                <input type="text" placeholder="search recipe name or ingredients" name="" id="" value="" />
            </li>
            <li class="menu"><a href="{% url 'recipeSite:signout' %}" target="-blank" title="home"><img
                        src="{% static 'images/home.jpg' %}" alt="Picture of home" height="30"></a></li>
            <li class="menu"><a href="{% url 'recipeSite:savedRecipes' %}">Saved Recipes</a></li>
            <li class="menu"><a href="{% url 'recipeSite:myRecipes' %}">My Recipes</a></li>
            <li class="menu"><a href="{% url 'recipeSite:addRecipe' %}">Add Recipes</a></li>
        </ul>
    </div>
    <div>
        {% block body_block %}
        {% endblock %}
    </div>
</body>

</html>