<!DOCTYPE html>
{% extends 'recipeSite/base.html' %}
{% load staticfiles %}
{% load recipe_template_tags %}



{% block title_block %}

Browse Recipes 

{% endblock %}
    
{% block body_block %}
<div class="row">
    <div class="offset-1 mb-5">
     <h1>Browse Recipes</h1>
    </br>
     <div class="btn-toolbar mb-2 ">
        <div class="btn-group mr-2">
          <button type="button" class="btn btn-sm btn-outline-secondary"><a href="{% url 'recipeSite:browseRecipes' %}?sort=latest">Latest</a></button>
          <button type="button" class="btn btn-sm btn-outline-secondary"><a href="{% url 'recipeSite:browseRecipes' %}?sort=oldest">Oldest</a></button>
          <button type="button" class="btn btn-sm btn-outline-secondary"><a href="{% url 'recipeSite:browseRecipes' %}?sort=trending">Trending</a></button>
        </div> 
      </div>
    </div>
   </br>
   </div>
{% draw_recipe_cards recipeList user %}

{% endblock %}