<!DOCTYPE html>
{% extends 'recipeSite/base.html' %}
{% load staticfiles %}
{% load recipe_template_tags %}


{% block title_block %}

My Recipes 

{% endblock %}
    
{% block body_block %}
<div class="row">
  <div class="offset-1 mb-5">
   <h1>My Recipes</h1>
  </br>
  <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
       Sort By
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="{% url 'recipeSite:myRecipes' %}?sort=latest">Latest</a>
        <a class="dropdown-item" href="{% url 'recipeSite:myRecipes' %}?sort=oldest">Oldest</a>
        <a class="dropdown-item" href="{% url 'recipeSite:myRecipes' %}?sort=mostPopular">Most Popular</a>
        <a class="dropdown-item" href="{% url 'recipeSite:myRecipes' %}?sort=cookTime">Cook Time</a>
        <a class="dropdown-item" href="{% url 'recipeSite:myRecipes' %}?sort=servings">Serving Size</a>
      </div>
    </div>
  </div>
 </br>
 </div>
{% draw_recipe_cards recipeList user True %}
{% endblock %}
