<!DOCTYPE html>
{% load staticfiles %}
{% load recipe_template_tags %}
<link rel="stylesheet" href="{% static 'css/recipeCard.css' %}">
<script src="{% static "js/recipeCard.js" %}" crossorigin="anonymous"></script>
{% if recipeList %}
<div class="album py-5 bg-light">
  <div class="container recipeCard-container">
          <div class="row">
            {% for recipe in recipeList %} 
            <div class="col-md-4"> <!-- Allows for 3 recipe cards per row -->
              <div class="card mb-4 box-shadow">
                <img class="bd-placeholder-img card-img-top w-100" src="{{ recipe.image.url }}"></img> <!-- Place recipe image -->
                <div class="card-body">
                  <div style="text-align: center;">
                    {{ recipe.recipeName }}
                    <p> <small class="text-muted">Submitted by <a href="{% url 'profile' recipe.author %}"> <!-- Recipe title and author -->
                      {% if user == recipe.author %} 
                      You <!-- If the recipe was submitted by the logged in user, display "submitted by You" -->
                      {% else %}
                      {{ recipe.author }} <!-- else display username of the user who submitted the recipe -->
                      {% endif %}
                    </a> on {{ recipe.submissionDateTime|date:"d-m-Y" }}</small></p>
                  </div>
                  <div class="description-text">
                    <p class="card-text ">{{ recipe.description}}</p>
                  </div> 
    
                  <!-- Icons for  recipe difficulty, cook time and servings -->
                  <div id="recipe_icons">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-speedometer2" viewBox="0 0 16 16">
                      <path d="M8 4a.5.5 0 0 1 .5.5V6a.5.5 0 0 1-1 0V4.5A.5.5 0 0 1 8 4zM3.732 5.732a.5.5 0 0 1 .707 0l.915.914a.5.5 0 1 1-.708.708l-.914-.915a.5.5 0 0 1 0-.707zM2 10a.5.5 0 0 1 .5-.5h1.586a.5.5 0 0 1 0 1H2.5A.5.5 0 0 1 2 10zm9.5 0a.5.5 0 0 1 .5-.5h1.5a.5.5 0 0 1 0 1H12a.5.5 0 0 1-.5-.5zm.754-4.246a.389.389 0 0 0-.527-.02L7.547 9.31a.91.91 0 1 0 1.302 1.258l3.434-4.297a.389.389 0 0 0-.029-.518z"/>
                      <path fill-rule="evenodd" d="M0 10a8 8 0 1 1 15.547 2.661c-.442 1.253-1.845 1.602-2.932 1.25C11.309 13.488 9.475 13 8 13c-1.474 0-3.31.488-4.615.911-1.087.352-2.49.003-2.932-1.25A7.988 7.988 0 0 1 0 10zm8-7a7 7 0 0 0-6.603 9.329c.203.575.923.876 1.68.63C4.397 12.533 6.358 12 8 12s3.604.532 4.923.96c.757.245 1.477-.056 1.68-.631A7 7 0 0 0 8 3z"/>
                    </svg>
                    <small>{{ recipe.difficulty}}</small>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pie-chart-fill" viewBox="0 0 16 16">
                      <path d="M15.985 8.5H8.207l-5.5 5.5a8 8 0 0 0 13.277-5.5zM2 13.292A8 8 0 0 1 7.5.015v7.778l-5.5 5.5zM8.5.015V7.5h7.485A8.001 8.001 0 0 0 8.5.015z"/>
                    </svg>
                    <small>Servings: {{ recipe.servings}}</small>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clock" viewBox="0 0 16 16">
                      <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"/>
                      <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"/>
                    </svg>
                    <small>{{ recipe.cookTime}} mins</small>



                  </div>        
                  

                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a href="{% url 'recipeSite:viewRecipe' recipe.slug %}" class="btn btn-sm btn-outline-secondary">View</a>
                      
                      <!-- If the user is on the correct page to edit and delete the recipe, display the buttons do each -->
                      {% if user == recipe.author and can_edit_delete %}
                      <a href="{% url 'recipeSite:editRecipe' recipe.slug %}" class="btn btn-sm btn-outline-secondary">Edit</a>
                      <button type="button" data-recipeid="{{ recipe.id }}" class="btn btn-sm btn-outline-danger deleteRecipeButton">Delete</button>
                      {% endif %}
                    </div>
                    <div>
                       <!-- If the logged in user is not the user who submitted the recipe, show a clickable like button-->
                      {% if user != recipe.author %}
                      <button type="button" data-recipeid="{{ recipe.id }}" class="btn btn-outline-secondary likeButton">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                        <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"></path>
                        </svg>
                        <span class="visually-hidden">{{ recipe.likes}}</span>
                      </button>
                      {% else %}
                      <!-- If the user submitted this recipe, show the like button but make it non-clickable -->
                      <button type="button" class="btn btn-outline-secondary" style="pointer-events: none">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                        <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"></path>
                        </svg>
                        <span class="visually-hidden">{{ recipe.likes}}</span>
                      </button>
                      {% endif %}

                      <!-- If the user is logged in and not the person who submitted the recipe, show the bookmark buttons -->
                      {% if user.is_authenticated and user != recipe.author %}
                          {% if user|has_bookmarked:recipe %}  <!-- If previously bookmarked, display yellow bookmark button -->
                          <button type="button" data-recipeid="{{ recipe.id }}" class="btn btn-outline-warning bookmarkButton">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark-fill" viewBox="0 0 16 16">
                            <path d="M2 2v13.5a.5.5 0 0 0 .74.439L8 13.069l5.26 2.87A.5.5 0 0 0 14 15.5V2a2 2 0 0 0-2-2H4a2 2 0 0 0-2 2z"></path>
                            </svg>
                          </button>
                          {% else %} <!-- If user has not bookmarked this recipe, display bookmark button as normal colour -->
                          <button type="button" data-recipeid="{{ recipe.id }}" class="btn btn-outline-secondary bookmarkButton">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark-fill" viewBox="0 0 16 16">
                            <path d="M2 2v13.5a.5.5 0 0 0 .74.439L8 13.069l5.26 2.87A.5.5 0 0 0 14 15.5V2a2 2 0 0 0-2-2H4a2 2 0 0 0-2 2z"></path>
                            </svg>
                            <span class="visually-hidden"></span>
                          </button>
                          {% endif %}
                      {% endif %}
                    </div>
                  </div>
                </div>
              </div>
            </div> 
            {% endfor %}
          </div>
        </div>
      </div>

{% endif %}