<!DOCTYPE html>
{% extends 'recipeSite/base.html' %}
{% load staticfiles %}

{% block title_block %}

Register 

{% endblock %}

{% block body_block %}

<link rel="stylesheet" href="{% static 'css/register.css' %}">

<form class="register-inputs" method="post" action="{% url 'register' %}" enctype="multipart/form-data">
    {% csrf_token %}
    {{ user_form.as_p }}
    {{ profile_form.as_p }}

    <input type="submit" name="submit" value="Register" class="register-button" />

</form>

{% endblock %}