<!DOCTYPE html>
{% extends 'recipeSite/base.html' %}
{% load staticfiles %}
{% load recipe_template_tags %}



{% block title_block %}

Bookmarked Recipes 

{% endblock %}
    
{% block body_block %}

<div class="row">
    <div class="offset-1 mb-5">
     <h1>My Recipes</h1>
    </br>
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         Sort By
        </button>
         <!-- Drop down menu for sorting recipes. sends a get request to the view for each -->
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="{% url 'recipeSite:savedRecipes' %}?sort=latest">Latest</a>
          <a class="dropdown-item" href="{% url 'recipeSite:savedRecipes' %}?sort=oldest">Oldest</a>
          <a class="dropdown-item" href="{% url 'recipeSite:savedRecipes' %}?sort=mostPopular">Most Popular</a>
          <a class="dropdown-item" href="{% url 'recipeSite:savedRecipes' %}?sort=cookTime">Cook Time</a>
          <a class="dropdown-item" href="{% url 'recipeSite:savedRecipes' %}?sort=servings">Serving Size</a>
        </div>
      </div>
    </div>
   </br>
   </div>
{% draw_recipe_cards recipeList user %}

{% endblock %}