
h5 {
    margin-bottom: 1em;
}

p {
    display: block;
    text-align: justify;
    width:50em;
    word-wrap: break-word;
}

#recipe_icons {
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
   }

#recipe_icons span{

    padding-left: 1em;
}

#submitCommentButton {

    display: flex;
    justify-content: center;

}


