<!DOCTYPE html>
{% extends 'recipeSite/base.html' %}
{% load highlight %}
{% load staticfiles %}
{% block title %}Search{% endblock %}
{% load recipe_template_tags %}

{% block body_block %}
<div class="row">
    <div class="offset-1 mb-5">
     <h1>Search Results</h1>
     
    </div>
   </br>
</div>

{% if page.object_list %}
    
{% draw_recipe_cards_from_haystack page.object_list user %}

{% else %}
<h3>No recipe found</h3>
{% endif %}

{# {% include 'paginator.html' %}#}

<div class="pagination">
    <span class="step-links">
         {% if page.has_previous %}
        <a href="?q={{ query }}&page={{ page.previous_page_number }}">previous page</a>
        {% endif %}

        <span class="current">
                Page{{ page.number }} of {{ page.paginator.num_pages }}
        </span>

        {% if page.has_next %}
        <a href="?q={{ query }}&page={{ page.next_page_number }}">next page</a>
        {% endif %}
    </span>
</div>


<style>
    span.highlighted {
        color: red;
    }
</style>

{% endblock %}